<div class="widget-dates widget">
	<h4 class="widget__title">IMPORTANT DATES</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item"><strong>Dec 7, 2026</strong><br/>Abstract submission deadline</li>
			<li class="widget__item"><strong>Dec 14, 2026</strong><br/>Paper submission deadline</li>
			<li class="widget__item"><strong>Feb 26, 2027</strong><br/>Author notification</li>
			<li class="widget__item"><strong>Jun 27 &ndash; Jul 2, 2027</strong><br/>Conference</li>
			<li class="widget__item"><a class="widget__link" href="{{ "dates/" | relURL }}">All dates &rarr;</a></li>
		</ul>
	</div>
</div>
